.blackheader {
  color: #FFFFFF;
  background-color: #151515;
  align-items: 'center';
  height: 30;
}

.blackheadertext {
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* identical to box height, or 28px */
  text-align: center;
  letter-spacing: 0.185em;
  color: #FFFFFF;
}